.general-btn {

	background-color: rgb(26 85 139);
	color: white;

	outline: none;
	appearance: none;
	border: none;

	padding: 12px 50px;
	z-index: 2;
	position: relative;
	cursor: pointer;

	transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;

	letter-spacing: .2em;
	text-transform: uppercase;
	font-weight: 400;
	z-index: 2;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;

	div.arrow {
		transition: transform 0.3s ease-in-out;
	}

	&:hover {
		div.arrow {
			transform: scale(1.4);
		}
	}


	&::after {
		content: '';
		position: absolute;

		height: 100%;
		width: 100%;

		z-index: -300;
		left: 0;
		bottom: 0;
		background-color: rgb(10, 107, 192);
		filter: blur(20px);

		transition: background-color 0.3s ease-in-out;
		pointer-events: none;

	}

	&:hover::after {
		background-color: rgba(20, 58, 92, 0.739);
	}
}